@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:wght@100&display=swap');

.icon-sincod {
  font-family: Audiowide !important;
  text-decoration: none;
  color: #95D1CC !important;
}

.sincod-about {

  color: #22577E !important;

}

.sincod-nav {
  font-family: Audiowide !important;
  color: #95D1CC !important;
}

.sincod-footer {
  font-family: Audiowide !important;
  color: #95D1CC !important;
 
}

.navbar-nav {
  color: #E6D5B8 !important;
}

.textt-center {
  font-family: Audiowide !important;
  color: #22577E !important;
}

.bg-light {
  background-color: #22577E !important;
}

.services {
  align-items: center;
}

.hi {
  background-color: #FAFFAF !important;
}

.sincod-crd {

  font-family: Audiowide !important;
  color: #22577E !important;
}

.sincod-about {
  background-color: #00AFC1 !important;
}

.sincod-welcome {
  margin-top: 2em;
}


/* .ztn{
      background-color: #1B1A17!important;
      margin:0px!important;
    } */
    .bottom-footer{
      margin-bottom:0em!important;
    }